<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Superhero Details</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1> Name: {{superhero_detail.name}} </h1>
            <p> Alter Ego: {{superhero_detail.alter_ego}} </p>
            <p> Primary Ability: {{superhero_detail.primary_superhero_ability}} </p>
            <p> Secondary Ability: {{superhero_detail.secondary_superhero_ability}} </p>
            <p> Catchphrase: {{superhero_detail.catchphrase}}</p>
            <br><p><a href="{% url 'superheroes:index' %}">Return to List</a></p>
        </div>

    </div>
    <div class="col-md-4"></div>
</div>
</body>
</html>