<!doctype html>
<html lang="en">
<head>
    <title>Superhero Index</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h1>List of Superheroes</h1>
            <ul>
                {% for superhero in all_superheroes %}
                <li><h2> {{superhero.name}}</h2>
                    <p><a href="{% url 'superheroes:detail' superhero.id %}">See Details</a>
                    <a href="{% url 'superheroes:edit' superhero.id %}">Edit</a>
                    <a href="{% url 'superheroes:delete' superhero.id %}"><input type="submit" value="Delete"></a></p>

                </li>
                {% endfor %}
            </ul>
            <p><a href="{% url 'superheroes:create_new_superhero' %}">Add Superhero to List</a> </p></div>
            <div class="col-md-4">
                {% load static %}
                <img src="{% static 'my_app/example.jpg' %}" alt="My image">
            </div>
        </div>
   </div>
</body>
</html>